<div class="ui long modal js-bookmark-info" ng-controller="bookmarkInfoCtr">
    <i class="close icon"></i>
    <div class="header">
        {{bookmark.title}}
    </div>
    <div class="content">
        <div class="ui grid">
            <div class="six wide column">
                <img class="bordered" ng-src="./images/snap/{{bookmark.id}}.png" err-src="./images/snap/default.png" />
            </div>
            <div class="one wide column"></div>
            <div class="nine wide column">
                <div class="ui  vertically divided grid">
                    <div class="one column row">
                        <div class="column">
                            <img class="ui ui middle aligned tiny image" ng-src="http://g.soz.im/{{bookmark.url}}/cdn.ico" style="width:16px;height:16px;cursor:pointer;" ng-click="jumpToUrl(bookmark.url, bookmark.id)"     favicon-err="./images/favicon/{{bookmark.id}}.ico" title="点击跳转到原页面">
                            <span ng-click="jumpToUrl(bookmark.url, bookmark.id)" style="cursor:pointer;"  title="点击跳转到原页面">网页地址</span>：{{bookmark.url}}
                        </div>
                    </div>
                    <div class="two column row">
                        <div class="column">
                            <i class="add to calendar icon"></i>创建日期：{{bookmark.created_at}}
                        </div>
                        <div class="column">
                            <i class="calendar icon"></i>最后点击：{{bookmark.last_click}}
                        </div>
                    </div>
                    <div class="two column row">
                        <div class="column">
                            <i class="hand pointer icon"></i>点击次数：{{bookmark.click_count}}
                        </div>
                        <div class="column">
                            <i class="tags icon"></i>书签分类：
                            <div class="ui label" ng-repeat="tag in bookmark.tags">
                                {{ tag.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="content" style="padding:0 0 0 20px">
        <div class="description">
            <div class="ui header">
                描述信息
            </div>
            <p>{{ bookmark.description }}</p>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="content" style="padding:0 0 0 20px">
        <div class="description">
            <div class="ui header">
                内容摘抄
            </div>
            <p ng-bind-html="content"></p>
            <img class="ui centered medium image" src="/images/loading.gif" ng-show="loading">
        </div>
    </div>
    <div class="actions">
        <div class="ui right button" ng-click="jumpToUrl(bookmark.url, bookmark.id)">跳转到原页面</div>
        <button class="positive ui right button">关闭页面</button>
    </div>
</div>
