<div class="ui segment js-segment-navigate" ng-show="!loadBusy">
	<div class="ui divided grid">
		<div class="two wide column">
			<div class="ui link list">
				<a class="item" style="margin: 5px 0px;text-align: center;" ng-repeat="tag in bookmarks">{{ tag.name }}</a>
			</div>
		</div>
		<div class="fourteen wide column">
			<div class="ui container" ng-repeat="tag in bookmarks" ng-init="tagIndex=$index">
				<div class="ui grid container">
					<div
						class="four wide column js-navigate-bookmark"
						ng-class="{bookmarkNormalHover:bookmarkNormalHover, bookmarkEditHover:bookmarkEditHover, bookmark:(!bookmarkNormalHover && !bookmarkEditHover)}"
						ng-mouseover="bookmarkNormalHover=true; setHoverBookmark(bookmark)"
						ng-mouseleave="bookmarkNormalHover=false; setHoverBookmark(null)"
						ng-repeat="bookmark in tag.bookmarks"
						ng-click="jumpToUrl(bookmark.url, bookmark.id)"
						title="{{ bookmark.title }}"
						id="{{bookmark.id}}"
					>
						<img class="ui ui middle aligned tiny image bookmarkInfo" ng-src="http://favicon.luchenqun.com/?url={{bookmark.url}}" err-src="./images/default.ico" style="width:16px;height:16px;" ng-click="detailBookmark(bookmark);$event.stopPropagation()" />
						<span>{{ bookmark.title}}</span>
					</div>
				</div>
				<div class="ui divider"></div>
			</div>
		</div>
	</div>

	<!-- <div class="ui container" ng-repeat="tag in bookmarks" ng-init="tagIndex=$index">
		<div class="ui grid">
			<div class="row">
				<div class="wrap" style="width:88px;color:#0aa770;text-align:left;margin-left:20px;">
					<span title="{{ tag.name }} - 点击查看该分类所有书签" ng-click="jumpToTags(tag.id)" style="cursor:pointer;">{{ tag.name }}</span>
				</div>
				<div class="fourteen wide column" ng-if="tag.bookmarks.length">
					<div class="ui grid container">
						<div
							class="four wide column js-navigate-bookmark"
							ng-class="{bookmarkNormalHover:bookmarkNormalHover, bookmarkEditHover:bookmarkEditHover, bookmark:(!bookmarkNormalHover && !bookmarkEditHover)}"
							ng-mouseover="bookmarkNormalHover=true; setHoverBookmark(bookmark)"
							ng-mouseleave="bookmarkNormalHover=false; setHoverBookmark(null)"
							ng-repeat="bookmark in tag.bookmarks"
							ng-click="jumpToUrl(bookmark.url, bookmark.id)"
							title="{{ bookmark.title }}"
							id="{{bookmark.id}}"
						>
							<img class="ui ui middle aligned tiny image bookmarkInfo" ng-src="http://favicon.luchenqun.com/?url={{bookmark.url}}" err-src="./images/default.ico" style="width:16px;height:16px;" ng-click="detailBookmark(bookmark);$event.stopPropagation()" />
							<span>{{ bookmark.title}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui divider"></div>
	</div> -->
</div>
<div class="ui massive text centered inline loader" ng-class="{active:loadBusy, disabled:!loadBusy}">
	正在加载中...
</div>
