<div class="ui long modal js-add-bookmark" ng-controller="editCtr">
    <!-- <i class="close icon"></i> -->
    <div class="header">
        添加书签
    </div>
    <div class="content">
        <div class="ui form">
            <div class="required field" ng-class="{error:urlError}">
                <label>书签链接</label>
                <input type="text" placeholder="输粘贴网页地址，如：http://mybookmark.cn/" ng-model="url">
            </div>
            <div class="required field" ng-class="{error:titleError}">
                <label>书签标题</label>
                <input type="text" placeholder="" ng-model="title">
            </div>
            <div class="required field">
                <label>已有书签分类</label>
                <div class="fields">
                    <div class="eight wide field" ng-class="{error:tagsError }">
                        <select class="ui fluid search dropdown js-tags" multiple="">
                            <option value="">选择分类，输入可以搜索，最多选择三个，建议选一个</option>
                            <option value="{{ tag.id }}" ng-repeat="tag in tags">{{ tag.name }}</option>
                        </select>
                    </div>
                    <div class="eight wide field">
                        <div class="ui action input">
                            <input type="text" placeholder="多个分类请用中文或英文逗号 , 隔开" ng-model="newTags" ng-keypress="($event.which === 13)?addTags():0">
                            <button class="ui button" ng-click="addTags()">添加新分类</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>描述</label>
                <div
                    style="border-radius:4px;border:1px solid #DEDEDE;min-height:88px;"
                    name="text"
                    ng-model="description"
                    required
                    medium-editor
                    bind-options="{'placeholder': {text: '可以是网站的说明，也可以备忘一下账号或者摘抄内容，就算公开你的链接，这个也只有自己能在详情里面看到'},
                    'buttons': ['bold', 'italic', 'underline', 'header1', 'header2', 'quote', 'orderedlist', 'unorderedlist']}"></div>
            </div>
            <div class="field">
                <div class="ui checkbox checked js-public">
                    <input type="checkbox" name="example" checked="">
                    <label>我要公开此收藏的链接供别人搜索</label>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button" ng-click="cancel()">取消</div>
        <div class="ui green button" ng-click="ok()">发送</div>
    </div>
</div>
