<!-- 高度至少要设置1000，元素少时才能触发滚动条事件 -->
<div class="ui segment js-hot-card" style="min-height:1000px;" ng-show="!loadBusy  || (!random && curDay<0)">
    <div class="ui five  stackable cards" infinite-scroll='loadHotBookmarks()' infinite-scroll-immediate-check="false">
        <div class="card" ng-repeat="bookmark in bookmarks">
            <div class="content" style="max-height:70px;cursor:pointer" ng-click="jumpToUrl(bookmark.url)">
                <div class="description bookmarkTitle" title="{{bookmark.title}}">
                    {{bookmark.title}}
                </div>
            </div>
            <div class="image hot-image" href="{{ bookmark.url }}" style="cursor:pointer" ng-click="jumpToUrl(bookmark.url)">
                <img ng-src="{{bookmark.snap_url}}" err-src="./images/snap/default.png"/>
            </div>
            <div class="extra content" ng-show="!bookmark.edit">
                <img class="ui avatar image" style="width:16px;height:16px;" ng-src="{{bookmark.favicon_url}}">
                <span class="sourceName" title="{{ bookmark.created_by }}">{{ bookmark.created_by }}</span>
                <span class="favCount">·{{ bookmark.fav_count }}人收藏</span>
                <i class="ellipsis horizontal icon right floated" style="margin-top:6px;" ng-mouseover="bookmark.edit=true;"></i>
            </div>
            <div class="extra content" ng-show="bookmark.edit" ng-mouseleave="bookmark.edit=false;">
                <img class="ui mini spaced image" style="width:16px;height:16px;margin:0 8px;margin-top:4px;" ng-src="./images/favorite.png" ng-click="favoriteBookmark(bookmark)" title="一键收藏">
                <img class="ui mini spaced image" style="width:16px;height:16px;margin:0 8px;margin-top:4px;" ng-src="./images/store-bookmark.png" ng-click="storeBookmark(bookmark)" title="转存到我的书签">
                <img class="ui mini spaced image" style="width:16px;height:16px;margin:0 8px;margin-top:4px;" ng-src="./images/copy.png" id="hoturl{{$index}}" ng-click="copy($index, bookmark.url)" title="复制链接">
                <img class="ui mini spaced image" style="width:16px;height:16px;margin:0 8px;margin-top:4px;" ng-src="./images/detail.png" ng-click="detailBookmark(bookmark)" title="书签详情">
            </div>
        </div>
    </div>
    <div style="width:22px;height:22px;" class="js-hot-random" ng-click="randomHotBookmarks()" data-tooltip="随机查看热门收藏，如需回到最新热门收藏，请点击菜单栏热门收藏" ng-show="!loadBusy && false">
        <img class="ui ui middle aligned tiny image" ng-src="./images/random.png">
    </div>
</div>
<div class="ui massive text centered inline loader js-hot-loader" ng-class="{active:loadBusy, disabled:!loadBusy}">
    正在加载中...</div>
