<div class="js-menu" ng-controller="menuCtr">
    <div class="ui huge menu js-login-in" ng-if="login">
        <a class="item" ng-class="{selected:$index===selectLoginIndex}" style="cursor:default;" ui-sref-opts="{reload: true}" ng-repeat="menu in loginMenus" ui-sref="{{ menu.uiSref }}({searchWord:null})" js-menu-init>
            <div>{{ menu.title }}</div>
            <div class="ui floating simple dropdown icon js-bookmark-dropdown" ng-if="$index==0" ng-click="$event.stopPropagation();">
                <i class="dropdown icon"></i>
                <div class="menu js-menu-option">
                    <div class="header">显示方式</div>
                    <div class="divider"></div>
                    <div class="field item js-field-navigate" ng-click="updateShowStyle('navigate')">
                        <div class="ui radio checkbox js-radio-navigate">
                            <input type="radio" name="show-style" checked="">
                            <label>导航</label>
                        </div>
                    </div>
                    <div class="field item js-field-costomTag" ng-click="updateShowStyle('costomTag')">
                        <div class="ui radio checkbox js-radio-costomTag">
                            <input type="radio" name="costomTag-style">
                            <label>标签</label>
                        </div>
                    </div>
                    <div class="field item js-field-table" ng-click="updateShowStyle('table')">
                        <div class="ui radio checkbox js-radio-table">
                            <input type="radio" name="show-style">
                            <label>表格</label>
                        </div>
                    </div>
                    <div class="field item js-field-card" ng-click="updateShowStyle('card')">
                        <div class="ui radio checkbox js-radio-card">
                            <input type="radio" name="show-style">
                            <label>卡片</label>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="right menu">
            <div class="item" style="min-width:350px;">
                <div class="ui transparent icon input">
                    <label for="lcq">
                        <div class="ui inline dropdown js-search-option" style="margin-top:3px;" js-search-option-init>
                            <div class="text " style="color:#C9C9C9;font-weight:normal;">书签</div>
                            <i class="angle down icon"></i>
                            <div class="menu">
                                <div class="item" data-value="{{$index}}" ng-class="{active:$index==0}" ng-repeat="historyType in historyTypes">{{historyType}}</div>
                            </div>
                        </div>
                    </label>
                    <input
                        class="prompt search-item"
                        type="text"
                        ng-model="searchWord"
                        placeholder=""
                        ng-keypress="($event.which === 13)?search(searchWord):0"
                        data-position="bottom left"
                        data-variation="large"
                        id="lcq"
                        ng-focus="inputBlur(true)"
                        ng-blur="inputBlur(false)">
                    <div class="ui fluid popup top left transition hidden" style="padding-left: 0px; padding-right: 0px;">
                        <div class="ui selection list">
                            <div class="item" ng-repeat="item in searchHistory" ng-click="searchByHistory(item.t, item.d)" style="height:30px;">
                                <div class="right floated content">
                                    <span style="margin-right:10px;">{{ historyTypes[item.t] }}</span>
                                </div>
                                <div class="content">
                                    <span style="margin-left:10px;">{{ item.d}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="search link icon" ng-click="search(searchWord)" style="cursor:default;"></i>
                </div>
            </div>
            <div class="item" style="padding:0 8px 0 13px;" title="添加书签" ng-click="showAddBookmarkMoadl()">
                <span data-tooltip="添加书签，可用Insert快捷键">
                    <i class="add square icon"></i>
                </span>
            </div>
            <div class="item" style="padding:0 8px 0 13px;">
                <span data-tooltip="退出登陆">
                    <i class="sign out icon" title="退出登陆" ng-click="logout()"></i>
                </span>
            </div>
            <div class="item" style="padding:0 8px 0 13px;">
                <span data-tooltip="1、在备忘录页面，按A键添加备忘录。2、在热门收藏页面，按R键随机查看热门收藏。">
                    <i class="info circle icon"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="ui huge menu js-not-login-in" ng-if="!login">
        <a class="item" ng-class="{selected:$index==selectNotLoginIndex}" ui-sref="{{ menu.uiSref}}" ui-sref-opts="{reload: true}" ng-repeat="menu in notLoginMenus">{{ menu.title}}</a>
    </div>
</div>
