<div class="js-menu" ng-controller="menuCtr">
    <div class="ui menu js-login-in" ng-if="login">
        <a class="item" ng-class="{active:$index==selectLoginIndex}" ui-sref="{{ menu.uiSref }}" ui-sref-opts="{reload: true}" ng-repeat="menu in loginMenus">
            <div>{{ menu.title }}</div>
            <div class="ui floating dropdown icon js-bookmark-dropdown" ng-if="$index==0">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">显示方式</div>
                    <div class="divider"></div>
                    <div class="field item">
                        <div class="ui radio checkbox js-radio-navigate">
                            <input type="radio" name="fruit">
                            <label>导航</label>
                        </div>
                    </div>
                    <div class="field item">
                        <div class="ui radio checkbox js-radio-table">
                            <input type="radio" name="fruit">
                            <label>表格</label>
                        </div>
                    </div>
                    <div class="field item">
                        <div class="ui radio checkbox js-radio-card">
                            <input type="radio" name="fruit">
                            <label>卡片</label>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="header">搜索选项</div>
                    <div class="item">
                        <div class="ui checkbox" ng-click="searchDetail()">
                            <input type="checkbox" name="fun">
                            <label>显示详细搜索</label>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="right menu">
            <div class="ui category right search item">
                <div class="ui transparent icon input">
                    <input class="prompt" type="text" ng-model="keyword" placeholder="标题，链接，分类...">
                    <i class="search link icon" ng-click="searchBookmarks()" ui-sref="bookmarks({foo: 'fooVal1', bar: 'barVal1'})"></i>
                </div>
                <div class="results"></div>
            </div>
            <div class="item">
                <div class="ui button" ng-click="showAddBookmarkMoadl()" ui-sref="bookmarks">添加书签</div>
            </div>
            <div class="item">
                <div class="ui button" ng-click="logout()">退出</div>
            </div>
        </div>
    </div>
    <div class="ui small menu js-not-login-in" ng-if="!login">
        <a class="item" ng-class="{active:$index==selectNotLoginIndex}" ui-sref="{{ menu.uiSref}}" ui-sref-opts="{reload: true}" ng-click="selectMenu($index, login)" ng-repeat="menu in notLoginMenus">{{ menu.title}}</a>
    </div>
</div>
