<div class="ui segment">
    <div class="ui grid">
        <div class="four wide stretched column">
            <div class="ui secondary vertical pointing menu">
                <a class="item" ng-class="{active:form[0]}" ng-click="changeForm(0)">重置密码
                </a>
                <a class="item" ng-class="{active:form[1]}" ng-click="changeForm(1)">书签显示设置
                </a>
                <a class="item" ng-class="{active:form[2]}" ng-click="changeForm(2)">上传书签
                </a>
            </div>
        </div>
        <div class="twelve wide stretched column">
            <form class="ui form" ng-show="form[0]">
                <div class="required field">
                    <label>原密码</label>
                    <input type="password" placeholder="" ng-model="passwordOrgin">
                </div>
                <div class="required field">
                    <label>新密码</label>
                    <input type="password" placeholder="" ng-model="passwordNew1">
                </div>
                <div class="required field">
                    <label>确认密码</label>
                    <input type="password" placeholder="" ng-model="passwordNew2">
                </div>
                <button class="ui button" type="submit" ng-click="resetPassword()">重置密码</button>
            </form>
            <form class="ui form" ng-show="form[1]">
                书签显示设置(正在开发中...)
            </form>
            <form class="ui form" ng-show="form[2]">
                <div id="fileuploader" style="min-width:100px">点我上传</div>
                <h2 class="ui dividing header">注意事项</h2>
                <p>1、目前只支持谷歌浏览器跟IE浏览器的书签导入，其他浏览器暂时没测试。如果要导入其他浏览器的书签，可以先将他导入谷歌浏览器再导出。</p>
                <p>2、谷歌浏览器书签导出方法：<a href="http://jingyan.baidu.com/article/0bc808fc2d3b841bd485b9fb.html" target="_blank">chrome浏览器书签导出</a>
                </p>
                <p>2、IE浏览器书签导出方法(里面含有导入的方法，请无视)：<a href="http://jingyan.baidu.com/article/0bc808fc6a5bc31bd485b91b.html" target="_blank">IE浏览器收藏夹的导入</a>
                </p>
                <p>3、导入的文件不能超过10M</p>
            </p>
        </form>
    </div>
</div>
</div>
