body {
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

code {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    display: inline-block;
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    font-size: 0.875em;
    font-weight: bold;
    padding: 1px 6px;
    vertical-align: baseline;
}

.bookmark {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    color: #212121;
    border: 1px solid transparent;
}

.bookmarkTitle {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bookmarkNormalHover {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    color: #212121;
    background: #F5F5F5;
    cursor: pointer;
    border: 1px solid transparent;
}

.bookmarkOperaterHover {
    cursor: pointer;
}

.tags {
    cursor: default;
}

.bookmarkEditHover {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    color: #212121;
    cursor: default;
    border: 1px dashed #3388FF;
}

.bookmarkInfo {
    cursor: url('../images/detail.ico'), auto;
}

.img-fixed-size {
    width: 16px;
    height: 16px;
}

td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

table {
    table-layout: fixed;
}

.wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.js-navigate-bookmark a {
    color: #212121;
}

.ui.menu .selected.item {
    background: rgba(1, 1, 1, 0.05);
}

img.operator {
    width: 16px;
    height: 16px
}

.js-bookmark-info .content img {
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
}

.hot-image {
    max-width: 100%;
    max-height: 160px;
    min-height: 160px;
    background-color: yellow;
    overflow: hidden;
}

.sourceName {
    display: inline-block;
    position: relative;
    top: 4px;
    max-width: 55px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #333;
}

.favCount {
    position: relative;
    top: 1px;
    font-size: 12px;
    color: #BFC0C6;
}

.urlSpan {
    word-wrap: break-word;
    word-break: break-all;
    cursor: default;
}

.ui.sortable.table thead th.forbid_sorted:hover {
    cursor: default;
    background: #F9FAFB
}

.ui.selection.list .list>.item, .ui.selection.list>.item {
    border-radius: 0;
}

.js-p-info p {
    margin-bottom: 5px;
    font-size: 16px;
}

.note-content {
    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.fontgreen {
    color: RGB(33, 186, 69);
}

.fontred {
    color: #F00;
}

.js-history-word:hover {
    background: #f0f0f0;
}

.js-weixin-content img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}