<div class="ui segment js-segment-home">
    <div class="ui container js-p-info">
        <h3 class="ui dividing header">为什么要做个网络书签</h3>
        <p>每个浏览器上面都会有个书签可以供你收藏你以后可能还要用到的网址。但是你可能还是会遇到下列问题：</p>
        <p>1、如果你重装系统，或者换浏览器怎么办？</p>
        <p>2、如果你有多个浏览器书签该如何整合？</p>
        <p>3、如何快速搜索保存的书签？比如我只想搜索某个时间段保存的书签？</p>
        <p>4、如果一个分类下面书签过多，如何方便快速查看？</p>
        <p>5、我能不能查看别人收藏的书签？</p>
        <p>6、在其他地方上网的时候能不能查看我自己的书签？</p>
        <p>7、如果公用一台电脑，如何区分我收藏的跟别人收藏的书签？</p>
        <p>在线书签管理工具，帮助你快速记录你喜欢的网站，并可以随时随地查看这些站点，而不必拘泥于使用的浏览器。无论在什么地方，只要能接入网络，就能打开属于你自己的网络书签，看到自己收藏的页面网址。</p>
        <h3 class="ui dividing header">主要功能</h3>
        <p>1、需要注册账号用户。(完成)</p>
        <p>2、网站展示有三种展示方式：导航，标签，列表，卡片。其中导航以分类展示，分类顺序可以在书签分类下面拖动编辑。按照点击的次数从高到低在每个分类里面提取16个书签，再按照最近添加的书签提取前面的16个书签，然后合并起来。标签是一个快捷方式。列表以表格展示，显示书签详细类容，按照点击次数优先显示，点击次数相同，则按添加顺序优先。卡片以卡片方式显示，按照最近添加优先显示。这几种展示方式，可以在设置里面默认一种你常用的方式。(完成)</p>
        <p>3、在书签分类里面，可以更新分类，删除分类，新增分类，对分类显示进行排序。分类的标签默认按照添加日期展示，但是可以点击表格的标题，按照点击次数，添加日期，最后点击从大到小进行排序。(完成)</p>
        <p>4、可以按照指定添加时间段，指定分类目录，指定网址关键字等进行查询。(完成)</p>
        <p>5、添加书签的时候，会自动获取title，供用户编辑。其中：Insert键打开添加页面，再次按Insert键保存书签，Esc取消添加。(完成)</p>
        <p>6、可以导入Chrome的书签导出文件，暂时做在设置里面。(完成)</p>
        <p>7、书签可以作为公有或者私有，公有可供所有人搜索。(完成)</p>
        <p>8、可以将搜索到其他用户的书签转存为自己的书签。(完成)</p>
        <p>9、可以将书签导出来，然后导入到浏览器。(完成)</p>
        <p>10、在热门标签里面，有在网上找的热门书签。可以转存收藏到自己书签里面。快捷键R随机查看热门书签。(完成)</p>
        <p>11、新增备忘录功能，有时候随手要做点纪录，就方便了。任意界面按快捷键A增加备忘录。双击备忘录可查看详情！(完成)</p>
        <p>12、在设置的全局链接，可设置快捷键，用来在任何页面，快速打开设置的链接。(完成)</p>
        <p>13、安装<a href="https://chrome.google.com/webstore/detail/%E4%B9%A6%E7%AD%BE%E5%BF%AB%E9%80%9F%E6%B7%BB%E5%8A%A0/lmmobgephofdffmaednjooplcpbgbjle" target="_blank">Chrome插件</a>(需科学上网)，可在任意界面快速添加书签。(完成)</p>
        <h3 class="ui dividing header">联系方式</h3>
        <p>QQ：530485521，记得备注加：书签。</p>
        <h3 class="ui dividing header">开发备忘(非开发人员请无视)</h3>
        <p>1、该代码我托管在Github上<a href="https://github.com/luchenqun/my-bookmark" target="_blank">my-bookmark</a>。该地址有文件夹详细说明以及部署步骤。git地址：git@github.com:luchenqun/my-bookmark.git。如果你需要源码，你尽可随意使用此项目无需通知我。</p>
        <img class="ui centered fluid image" src="./images/screenshot.gif">
    </div>
</div>
