<div class="ui segment js-segment-praise">
    <div class="ui container  js-p-info">
        <h3 class="ui dividing header">赞赏说明</h3>
        <p>赞赏金额主要用于服务器的租用与域名的费用，对于赞赏有以下几点说明：</p>
        <p>1、目前租用的服务器Vultr，每月5$，折合人名币大概35元/月。如果有新用户想购买Vultr服务器的，可以点击<a href="http://www.vultr.com/?ref=6902013" target="_blank">链接</a>进行购买，这样你我将都能得到10$。域名mybookmark.cn我花151元买了五年，2021年11月份到期。</p>
        <p>2、由于目前的服务器在国外，导致有时候访问比较慢，如果赞赏金融余额能支撑起在国内租用服务器费用，将在国内租用一个服务器，以提高访问速度。如果有能提供国内免费服务器的更佳！</p>
        <p>3、对于开发计划，优先开发赞赏用户提出的需求，当然需要我自己同意加入开发计划。</p>
        <p>4、赞赏用户的一些其他特权（暂未开发），如：可以自定义网站背景，可自定义更多的分类（目前上限为30个）。</p>
        <p>5、赞赏转账的时候，请留言至少添加“书签赞赏”这四个汉字，以供我做区分。赞赏之后我会及时将赞赏信息更新到网站上，如果有遗漏，可联系我微信QQ530485521或者在留言版块说明。</p>
        <h3 class="ui dividing header">赞赏二维码</h3>
        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="five wide column"><img class="ui rounded left floated medium image" src="./images/wx.jpg"></div>
            <div class="two wide column"></div>
            <div class="five wide column"><img class="ui rounded right floated medium image" src="./images/zfb.jpg"></div>
            <div class="one wide column"></div>
        </div>
        <h3 class="ui dividing header">赞赏排行版</h3>
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>用户</th>
                    <th>昵称</th>
                    <th>赞赏日期</th>
                    <th>赞赏金融(人民币)</th>
                    <th>留言说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>lcq</td>
                    <td>泥巴</td>
                    <td>2017-03-01 12:03:08</td>
                    <td>210</td>
                    <td>本人用于服务器租用</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
